version: "3.8"
services:
  mongo:
    image: mongo:6.0
    container_name: fruit-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mongo

volumes:
  mongo-data:
